
body {
    color: rgb(32,33,36);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}

.head{
    font-weight: 500;
    font-size: 24px;
    padding-top: 12px;
    line-height: 1.3333;
    word-break: break-word;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}

.login-container {
    background-color: #fff;
    padding: 48px 47px 36px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    width: 100%;
    min-height: 510px;
    text-align: center;
    margin-top: 50px;
}
.line1{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}
.line2{
    float: left; color: rgb(95,99,104);
    font-size: 14px;
    line-height: 1.4286;
    margin: 32px 0px 14px 0px;
}
.mylink, .mylink:hover, .mylink:visited, .mylink:active, .mylink:focus{
    float:left; margin: 0 -3px;
    padding: 0 3px;
    text-decoration: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: rgb(26,115,232);
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.25px;
    outline: 0;
    position: relative;
}
.simple-link, .simple-link:hover, .simple-link:visited, .simple-link:active, .simple-link:focus{
    border-radius: 4px;
    color: rgb(60,64,67);
    outline: none;
    text-decoration: none;
    transition: background .2s;
}
.blue-button, .blue-button:focus, .blue-button:active{
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    border-radius: 4px;
    color: rgb(26,115,232);
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    float: left;
    margin: 5px -3px;
    padding: 2px 3px;
    border: 0;

}
.create-button{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    border-radius: 4px;
    color: rgb(26,115,232);
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    float: left;
    margin: 5px -3px;
    padding: 7px 5px;
    border: 0;
}
.create-button:hover{
    color: rgba(23, 78, 166, 0.91);
    background-color: rgb(244, 244, 255);
}
.btn:focus{
    outline: 0;
}

.forgot-button:active{
    color: rgb(23,78,166);
}

.login-form h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control{
    padding: 13px 15px !important;
    height: 56px;
    width: 360px;
    outline: 0;
    border: 1px rgba(85, 85, 85, 0.2) solid;
    font-size: 16px;
    color: black;
}

.form-control:focus{
    webkit-box-shadow: none;
    box-shadow: none;
    border: 2px rgba(0, 102, 255, 0.9) solid;

}

.login-btn {
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 60px;
    font-size: 14px;
    cursor: pointer;
}
.footer {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}
.mylist{
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    float: right;
}
.mylist li{
    padding: 16px;
}
.mylist li:last-child{
    padding-right: 0px;
}
.show-user{
    -moz-box-align: center;
    align-items: center;
    padding: 5px 5px 3px;
    color: rgb(60,64,67);
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .25px;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid rgb(218,220,224);
    display:inline-flex;
    border-radius: 15px;

}
.show-user:hover{
    background-color: rgba(244, 255, 244, 0.6);
}
.ellipsis-container {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.floating-label-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
}
.floating-label {
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: rgba(31, 37, 38, 0.79);
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 7px;
    transition: all 0.2s ease;
    padding: 0 1px;
    background-color: white;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
    top: -10px;
    left: 8px;
    font-size: 13px;
    opacity: 1;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
input:focus ~ .floating-label{
    color: rgb(42, 134, 192);
}
.welcome{
    color: black;
    font-size: 23px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 400;
    line-height: 1.3333;
    word-break: break-word;
    padding-top: 15px;
}
p.welcome, p.head{
    margin-bottom: 0.5rem;
}
input[type="checkbox"] {
    width: 17px;
    height: 17px;
    border: #6c6969 solid 2px;
    border-radius: 2px !important;
    cursor: pointer;
}
.form-check-input:focus{
    border: #7d7b7b solid 2px;
    border-radius: 2px !important;
    box-shadow: none;
}
.form-check-input[type=checkbox]:checked {
    background-image: none;
    background-color: #3b71ca;
}
.form-check-input:checked:focus:before, .form-check-input:checked:hover:before {
    box-shadow: 0px 0px 0px 13px #3b71ca;
}
.form-check-input:not(:checked):hover:before, .form-check-input:not(:checked):focus:before{
    box-shadow: 0px 0px 0px 13px gray;
    background-color: gray;
}
.form-check-input:focus:before, .form-check-input:hover:before {
    transform: scale(1);
}
.form-check-input:focus:before, .form-check-input:hover:before {
    content: "";
    position: absolute;
    box-shadow: 0px 0px 0px 13px rgba(0,0,0,0);
    border-radius: 50%;
    width: 0.875rem;
    height: 0.875rem;
}
.form-check-input:checked:focus:before {
    opacity: .1 !important;
}
.form-check-input:not(:checked):focus:before {
    opacity: .1 !important;
}
.form-check-input:hover:before {
    opacity: .05;
}
.form-check-input[type=checkbox]:checked:after {
    content: "";
    position: absolute;
    z-index: 1;
    border-radius: 0;
    display: block;
    transform: rotate(45deg);
    border-width: 0.125rem;
    border-color: #fff;
    width: 0.3rem;
    height: 0.8125rem;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    margin-left: 0.25rem;
    margin-top: -1px;
    background-color: rgba(0,0,0,0);
}
.form-check-input:checked {
     border-color: #3b71ca;
}
input[type="password"] {
    font-size: 30px;
}